@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!

//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)

// To use an mixin from the atoms.scss file use the format:  @include atoms.mixinname;

h1 {
  background: $color-darkgrey;
  color: $color-deepblue;
  display: inline-block;
  font-weight: normal;
  font-size: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-bottom: none;
}




h2 {
  display: inline-block;
  position: relative;
  color: $color-deepblue;
  font-size: 2.5em;
  letter-spacing: 1px;
  line-height: 1em;
  font-style: italic;
}  


h3 {
  font-size: 1.8em;
    letter-spacing: 1px;
    color: $color-deepblue;
  line-height: 1em;
  padding: 1em 0 0.5em 0;
  
}

h4 {
  font-size: 1 em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 1em 0;
}

[role="banner"] {
  text-align: left;
  
}

.summary {
  text-align: center;
  width: 80%;
 
 padding: 1em 1em 1em 1em;

}

.summary a {
  background-color: white;
}

.summary a:hover, a:focus, .zen-resources a:hover, a:focus{
  text-decoration: underline;
  text-decoration-color: $color-black;
}

.design-selection li, .zen-resources li{
  
  text-decoration: none;
  
}

.sidebar ul {
  list-style-type: none;
  font-style: bold;
  font-weight:600;
}

.design-selection h3, .design-archives h3 {
    color: $color-white;
}

.design-selection, .design-archives {
    background: transparent url(images/wood.png);
    border-radius: 10px 100px / 120px;
    width:80%;
}

  .design-archives a {
    color: $color-white;
    line-height: 2;
  }

  .design-selection li, .zen-resources li{
    margin: 0;
    display: block;
    padding: 0.5em 10%;
    
    
  }

  .sidebar a.design-name {
    color:$color-white;
  
  }

  .sidebar a.designer-name {
    color:$color-darkgrey;
  }


  .zen-resources {
    background-color: $color-lighttgrey;
    width: 80%;
    border-radius: 0 25px 0 25px ;
  }





@media screen and (min-width: 800px) {


header h2 {
  font-size: 80px;
}
  
  

  .sidebar {
     
    margin-left: 600px; 
	  position: absolute; 
	  top: 0; 
	  right: 0;
    width: 25%;
	}

   .wrapper .design-selection .design-name{
    
    display: block;
    margin-right: 40px;
    text-align:left;
    width: 100px;
  }



  .sidebar h3 {
    padding-left: 5%;
  }
  

  .sidebar ul {
    list-style-type: none;
    font-style: bold;
    font-weight:600;
    font-size: 16px;
    }

  .sidebar li a:link, .sidebar li a:visited{
    font-size: large;
    font-style: bold;
    

  }
  

  h1 {

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }

  header h1 {
    height: 50px;
   
   background: transparent url(images/snowflakebg.png);
   background-repeat: no-repeat;
   background-position: center center;
   color: $color-black;
   font-size: 3.2em;
 }

 footer { 
  
  display: flex;
  justify-content: flex-end;
  width: 50%;
  


}

footer a {
    
    color: transparent;
    padding: 25px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

 footer a.zen-validate-html {
  background-image: url(images/html-5.png);
  text-decoration: none;
    
}

footer a.zen-validate-css {
  background-image: url(images/css-3.png);
  text-decoration: none;
    
}

footer a.zen-license {
  background-image: url(images/cc.png);
  text-decoration: none;
    
}

footer a.zen-accessibility {
  background-image: url(images/info.png);
  text-decoration: none;
    
}

footer a.zen-github {
  background-image: url(images/github.png);
  text-decoration: none;
}


  
}
