@use 'variables' as *;
@use 'atoms';
@use 'molecules';

.page-wrapper { 

	
	margin: 0; 
	position: relative;
	}



  .sidebar{
    &:before,
    &:after {
      content: "";
      position: fixed;
      top: -3000%;
      bottom: 50%;
      right: 0;
      left: 75%;
      background-color: rgba(black, 0.01);
      background-image: url(images/snow1.png);
      background-size: 50%;
      -webkit-animation-name: MOVE-BG;
      -webkit-animation-duration: 500s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
    }
  }
  
  
  
  @-webkit-keyframes MOVE-BG {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(70%);
    }
  }




header h1 { 
	background: transparent url(images/snow.webp);
  display: block;
  width: 300px;


		}

header h2 {
  background-image: url(images/banner.png);
  
}

header {
	padding-top: 20px; 
  
  height: 200px;
	
  
}

.summary {
  width: 75%;
	margin: 1 auto;
    
}


.preamble {
  width: 75%;
	margin: 1 auto; 
    
}

.main {	
  width: 75%;

  
}

footer { 
  text-align: center; 
	display: flex;
  justify-content: center;

  margin-bottom: 50px;

}

footer a {
    text-decoration: none;
    color: transparent;
    padding: 25px;
    background-position: center;
    background-repeat: no-repeat;
    
}


footer a.zen-validate-html {
  background-image: url(images/html-5.png);
    
}

footer a.zen-validate-css {
  background-image: url(images/css-3.png);
    
}

footer a.zen-license {
  background-image: url(images/cc.png);
    
}

footer a.zen-accessibility {
  background-image: url(images/info.png);
    
}

footer a.zen-github {
  background-image: url(images/github.png);
}
