@use 'variables' as *;
@use 'atoms';
@use 'molecules';

.body {margin: auto;}

.page-wrapper { 

	
	margin: auto; 
	position: relative;
	}


.intro {
  background: transparent url(images/intro.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 20px; 
}




header h1 {
  height: 50px;
   
  background: transparent url(images/snowflakebg.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: $color-black;
  font-size: 3.2em;
}


header h2 { 
	
  display: block;
  color: $color-white;
  
}




.div header {
  
  
  background: transparent url(images/intro.png);
  background-size: 80%;
  background-repeat: no-repeat;
  padding-top: 20px; 
  text-align: center;
 
	
  
}

.summary p, .preamble p {
  width: 80%;
  color: $color-white;
  margin-left: auto;
  margin-right: auto;
  
}

.summary h3, .preamble h3 {
  color: $color-darkgrey;
  
  
}

.preamble  {
  text-align: left;
  width: 70%;
  font-weight: 600;
  margin-left: 5%;
  color: $color-darkgrey;
}

.supporting h3, .supporting p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.main {	
  width: 75%;
  background: transparent url(images/Snowflake_044f_bg.png);
  background-size: 60%;
  background-repeat: repeat;

  
}

footer {
  text-align: center;
}


.sidebar .wrapper{
  margin:auto;
  text-align: center;
  font-size: medium;

  position: relative;
  width: 70%;
}
