@import url("https://fonts.googleapis.com/css?family=Merienda+One");

//Default Colors
$color-white:    #fff;
$color-black:    #000;
//Theme Colors

$color-background: #add1eb;
$color-deepblue: #483d8B;
$color-mediumblue: #6693aa;
$color-lighttblue: #98b4cb;
$color-darkgrey:#d0ced0;
$color-lighttgrey:#eae4e2;

//Theme Fonts
$font-header: Helvetica, "Gills Sans", "Trebuchet MS";
$font-body: "Didot", "Bodoni MT", "Palatino";
$font-text: 'Roboto Condensed', sans-serif;
