@import url("https://fonts.googleapis.com/css?family=Merienda+One");

//Default Colors
$color-white:    #fff;
$color-black:    #000;
//Theme Colors

$color-background: #add1eb;

$color-deepblue: #6693aa;
$color-medblue: #98b4cb;
$color-lightblue:#add1eb;
$color-dkgrey:#d0ced0;
$color-ltgrey:#eae4e2;

//Theme Fonts
$font-header: Helvetica, "Gills Sans", "Trebuchet MS";
$font-body: "Didot", "Bodoni MT", "Palatino";
$font-text: 'Roboto Condensed', sans-serif;
