h2 h3 h4 {
  font-weight: bold;
  font-family: Helvetica, "Gills Sans", "Trebuchet MS";
}

abbr {
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.01em;
}

p {
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: "Didot", "Bodoni MT", "Palatino";
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
  line-height: 2;
  margin: 0.75em;
  font-size: 18px;
}

a {
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: "Didot", "Bodoni MT", "Palatino";
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-decoration: none;
  font-weight: bolder;
  font-style: bold;
}

a:hover, a:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

h1 {
  background: #d0ced0;
  color: #483d8B;
  display: inline-block;
  font-weight: normal;
  font-size: 1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-bottom: none;
}

h2 {
  display: inline-block;
  position: relative;
  color: #483d8B;
  font-size: 2.5em;
  letter-spacing: 1px;
  line-height: 1em;
  font-style: italic;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #483d8B;
  line-height: 1em;
  padding: 1em 0 0.5em 0;
}

h4 {
  font-size: 1 em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 1em 0;
}

[role=banner] {
  text-align: left;
}

.summary {
  text-align: center;
  width: 80%;
  padding: 1em 1em 1em 1em;
}

.summary a {
  background-color: white;
}

.summary a:hover, a:focus, .zen-resources a:hover, a:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
}

.design-selection li, .zen-resources li {
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  font-style: bold;
  font-weight: 600;
}

.design-selection h3, .design-archives h3 {
  color: #fff;
}

.design-selection, .design-archives {
  background: transparent url(images/wood.png);
  border-radius: 10px 100px/120px;
  width: 80%;
}

.design-archives a {
  color: #fff;
  line-height: 2;
}

.design-selection li, .zen-resources li {
  margin: 0;
  display: block;
  padding: 0.5em 10%;
}

.sidebar a.design-name {
  color: #fff;
}

.sidebar a.designer-name {
  color: #d0ced0;
}

.zen-resources {
  background-color: #eae4e2;
  width: 80%;
  border-radius: 0 25px 0 25px;
}

@media screen and (min-width: 800px) {
  header h2 {
    font-size: 80px;
  }
  .sidebar {
    margin-left: 600px;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
  }
  .wrapper .design-selection .design-name {
    display: block;
    margin-right: 40px;
    text-align: left;
    width: 100px;
  }
  .sidebar h3 {
    padding-left: 5%;
  }
  .sidebar ul {
    list-style-type: none;
    font-style: bold;
    font-weight: 600;
    font-size: 16px;
  }
  .sidebar li a:link, .sidebar li a:visited {
    font-size: large;
    font-style: bold;
  }
  h1 {
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 5000ms;
            animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  @-webkit-keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  header h1 {
    height: 50px;
    background: transparent url(images/snowflakebg.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    font-size: 3.2em;
  }
  footer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  footer a {
    color: transparent;
    padding: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  footer a.zen-validate-html {
    background-image: url(images/html-5.png);
    text-decoration: none;
  }
  footer a.zen-validate-css {
    background-image: url(images/css-3.png);
    text-decoration: none;
  }
  footer a.zen-license {
    background-image: url(images/cc.png);
    text-decoration: none;
  }
  footer a.zen-accessibility {
    background-image: url(images/info.png);
    text-decoration: none;
  }
  footer a.zen-github {
    background-image: url(images/github.png);
    text-decoration: none;
  }
}
.body {
  margin: auto;
}

.page-wrapper {
  margin: auto;
  position: relative;
}

.intro {
  background: transparent url(images/intro.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 20px;
}

header h1 {
  height: 50px;
  background: transparent url(images/snowflakebg.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  font-size: 3.2em;
}

header h2 {
  display: block;
  color: #fff;
}

.div header {
  background: transparent url(images/intro.png);
  background-size: 80%;
  background-repeat: no-repeat;
  padding-top: 20px;
  text-align: center;
}

.summary p, .preamble p {
  width: 80%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.summary h3, .preamble h3 {
  color: #d0ced0;
}

.preamble {
  text-align: left;
  width: 70%;
  font-weight: 600;
  margin-left: 5%;
  color: #d0ced0;
}

.supporting h3, .supporting p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 75%;
  background: transparent url(images/Snowflake_044f_bg.png);
  background-size: 60%;
  background-repeat: repeat;
}

footer {
  text-align: center;
}

.sidebar .wrapper {
  margin: auto;
  text-align: center;
  font-size: medium;
  position: relative;
  width: 70%;
}

html {
  padding: 0;
  background-color: #add1eb;
}

body {
  padding: 0;
}/*# sourceMappingURL=style.css.map */