@import url("https://fonts.googleapis.com/css?family=Merienda+One");
h2 h3 h4 {
  font-weight: bold;
  font-family: Helvetica, "Gills Sans", "Trebuchet MS";
}

p {
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: "Didot", "Bodoni MT", "Palatino";
  text-align: justify;
  line-height: 2;
  margin: 0.75em;
}

a {
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: "Didot", "Bodoni MT", "Palatino";
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1 {
  background: #d0ced0;
  color: #6693aa;
  display: inline-block;
  font-weight: normal;
  font-size: 3.2 em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-bottom: none;
}

h2 {
  display: block;
  position: relative;
  color: #6693aa;
  font-size: 3.5em;
  letter-spacing: 1px;
  line-height: 1em;
  font-style: italic;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #6693aa;
  line-height: 1em;
  padding: 1em 0 0.5em 0;
}

h4 {
  font-size: 1 em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 1em 0;
}

[role=banner] {
  text-align: left;
}

.summary {
  text-align: center;
  padding: 1em 1em 1em 1em;
}

@media screen and (min-width: 800px) {
  .sidebar {
    background: transparent url(images/snow.webp);
    margin-left: 600px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .design-selection li, .zen-resources li {
    margin: 0;
    display: block;
    padding: 0.5em 10%;
    text-decoration: none;
  }
  .sidebar ul {
    list-style-type: none;
    font-style: bold;
    font-weight: 600;
  }
  .sidebar li a:link, .sidebar li a:visited {
    font-size: large;
    font-style: bold;
  }
}
.page-wrapper {
  margin: 0;
  position: relative;
}

.intro:before, .intro:after {
  content: "";
  position: fixed;
  top: -3000%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.01);
  background-image: url(images/snow1.png);
  background-size: 30%;
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

body:before {
  filter: blur(6px);
  opacity: 0.8;
}
body:after {
  filter: blur(1px);
  top: -1500%;
  background-image: url(images/snow1.png);
  background-size: 90%;
  -webkit-animation-duration: 200s;
          animation-duration: 200s;
}

.more-snow:before {
  filter: blur(4px);
  opacity: 0.8;
  top: -2500%;
  background-size: 60%;
  -webkit-animation-duration: 400s;
          animation-duration: 400s;
}
.more-snow:after {
  filter: blur(2px);
  opacity: 0.8;
  top: -2000%;
  background-image: url(images/snow2.png);
  background-size: 70%;
  -webkit-animation-duration: 300s;
          animation-duration: 300s;
}

@-webkit-keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(70%);
  }
}
.intro {
  width: auto;
}

header h1 {
  background: transparent url(images/snow.webp);
  display: block;
  width: 300px;
}

header {
  padding-top: 20px;
}

.summary {
  width: 80%;
  margin: 1 auto;
}

.preamble {
  width: 80%;
  margin: 1 auto;
}

.main {
  width: 80%;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

footer a {
  text-decoration: none;
  color: transparent;
  padding: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

footer a.zen-validate-html {
  background-image: url(images/html-5.png);
}

footer a.zen-validate-css {
  background-image: url(images/css-3.png);
}

footer a.zen-license {
  background-image: url(images/cc.png);
}

footer a.zen-accessibility {
  background-image: url(images/info.png);
}

footer a.zen-github {
  background-image: url(images/github.png);
}

html {
  padding: 0;
  background-color: #add1eb;
}

body {
  padding: 0;
}/*# sourceMappingURL=style.css.map */