@import url("https://fonts.googleapis.com/css?family=Merienda+One");
h2 h3 h4 {
  font-weight: bold;
  font-family: Helvetica, "Gills Sans", "Trebuchet MS";
}

p {
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: "Didot", "Bodoni MT", "Palatino";
  text-align: justify;
  line-height: 2;
  margin: 0.75em;
}

a {
  font-weight: normal;
  font-size: 1em;
  line-height: normal;
  font-family: "Didot", "Bodoni MT", "Palatino";
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: underline;
}

h1 {
  background: #d0ced0;
  color: #483d8B;
  display: inline-block;
  font-weight: normal;
  font-size: 3.2 em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  border-bottom: none;
}

h2 {
  display: block;
  position: relative;
  color: #483d8B;
  font-size: 3.5em;
  letter-spacing: 1px;
  line-height: 1em;
  font-style: italic;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 1px;
  color: #483d8B;
  line-height: 1em;
  padding: 1em 0 0.5em 0;
}

h4 {
  font-size: 1 em;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 1em 0;
}

[role=banner] {
  text-align: left;
}

.summary {
  text-align: center;
  padding: 1em 1em 1em 1em;
}

@media screen and (min-width: 800px) {
  .sidebar {
    background: transparent url(images/snow.webp);
    margin-left: 600px;
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
  }
  .design-selection li, .zen-resources li {
    margin: 0;
    display: block;
    padding: 0.5em 10%;
    text-decoration: none;
  }
  .wrapper .design-selection .design-name {
    display: block;
    margin-right: 40px;
    width: 50%;
  }
  .sidebar a.design-name {
    color: #483d8B;
  }
  .sidebar a.designer-name {
    color: #000;
  }
  .sidebar h3 {
    padding-left: 5%;
  }
  .sidebar ul {
    list-style-type: none;
    font-style: bold;
    font-weight: 600;
  }
  .sidebar li a:link, .sidebar li a:visited {
    font-size: large;
    font-style: bold;
  }
  .sidebar:before, .sidebar:after {
    content: "";
    position: fixed;
    top: -3000%;
    bottom: 50%;
    right: 0;
    left: 75%;
    background-color: rgba(0, 0, 0, 0.01);
    background-image: url(images/snow1.png);
    background-size: 50%;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 500s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  @-webkit-keyframes MOVE-BG {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(70%);
    }
  }
}
.page-wrapper {
  margin: 0;
  position: relative;
}

.intro {
  background-image: url(images/intro.png);
}

header h1, header h2 {
  display: none;
}

header {
  background-image: url(images/header.png);
  background-size: 80%;
  background-repeat: no-repeat;
  padding-top: 20px;
  height: 300px;
}

.summary {
  width: 75%;
  margin: 1 auto;
}

.preamble {
  width: 75%;
  margin: 1 auto;
}

.main {
  width: 75%;
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

footer a {
  text-decoration: none;
  color: transparent;
  padding: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

footer a.zen-validate-html {
  background-image: url(images/html-5.png);
}

footer a.zen-validate-css {
  background-image: url(images/css-3.png);
}

footer a.zen-license {
  background-image: url(images/cc.png);
}

footer a.zen-accessibility {
  background-image: url(images/info.png);
}

footer a.zen-github {
  background-image: url(images/github.png);
}

html {
  padding: 0;
  background-color: #add1eb;
}

body {
  padding: 0;
}/*# sourceMappingURL=style.css.map */